.header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 54px;
  justify-content: space-between;
  padding: 0 15px;
  // width: 100%;
}

.header__icono {
  width: 90px;
}
