// Colors
$primary: rgb(41, 65, 171);
$secondary: rgb(30, 215, 96);
$dark-grey: #363636;
$light-grey: #D8D8D8;
//
$white: #fff;
$black: #000;
// $google-blue: #4285f4;
// $button-active-blue: #1669f2;
